extends base


block content
  form.form#create-tour-form(style='padding:5em  30%' enctype="multipart/form-data")
    h2.heading-secondary.ma-bt-lg Create a Tour
    p * is a required 

    label.form__label(for="name") *Name Of the tour
    input.form__input(name='name' type="text" placeholder='The Sea Explorer')

    label.form__label(for="duration") *Duration (in days)
    input.form__input(name='duration' min='1' type="number" placeholder='7 days')

    label.form__label(for="maxGroupSize") *Max Group Size
    input.form__input(name='maxGroupSize' type="number" min='1' max='50' placeholder='15')

    label.form__label(for="difficulty") *Choose a Difficulty
    select#difficulty.form__input(name="difficulty")
      option(value='easy') easy
      option(value='medium') medium
      option(value='difficult') difficult

    label.form__label(for="price") *Price
    .price-container(style='display:flex; justify-content: space-around; width:100%')
      span(style='font-size:25px; align-items:center') $
      input.form__input(name="price" type="number" min='1' placeholder='497 (tour price)' style='width:60%')

    label.form__label(for="summary") *Summary
    input.form__input(name="summary" type="text" placeholder='Exploring the jaw-dropping US east coast by foot and by boat')

    label.form__label(for="description") Description
    textarea.form__input(name="description" placeholder='Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...')

    label.form__label(for="imageCover") *Image Cover
    input.form__input(name="imageCover" type="file")

    label.form__label(for="startLocation.coordinates[0]") Start Location Coordinates
    input.form__input(name="startLocation.coordinates[0]" type="text" placeholder='Latitude (-80.185942)')
    input.form__input(name="startLocation.coordinates[1]" type="text" placeholder='Longitude (25.774772)')
    
    label.form__label(for="startLocation.description") Description
    input.form__input(name="startLocation.description" type="text" placeholder='Miami, USA')
    
    label.form__label(for="startLocation.address") Address
    input.form__input(name="startLocation.address" type="text" placeholder='Address')

    label.form__label(for="images[].file") Images
    //- input.form__input(name="images[].file" type="file" multipart)
    //- input.form__input(name="images[].file" type="file" multipart)
    //- input.form__input(name="images[].file" type="file" multipart)
    input.form__input(name="images[].file" id='file-input' type="file" multiple)
    
    br
    br
    br
    label.heading-secondary.ma-bt-lg(for="startDates") Start Dates
    label.form__label(for="startDates[0]") First Start Date
    input.form__input(name="startDates[0]" type="date" placeholder='First start Date')
    label.form__label(for="startDates[1]") Additional Dates
    input.form__input(name="startDates[1]" type="date" placeholder='Second start Date')
    input.form__input(name="startDates[2]" type="date" placeholder='Third start Date')

    label.form__label(for="guides") Choose Guides
    select#guides.form__input(name="guides[0]")
      option(value='') None
      each guide in guides
        option(value=`${guide._id}`)=`${guide.name}: ${guide.role}`
    
    select#guides.form__input(name="guides[1]")
      option(value='') None
      each guide in guides
        option(value=`${guide._id}`)=`${guide.name}: ${guide.role}`
    
    select#guides.form__input(name="guides[2]")
      option(value='') None
      each guide in guides
        option(value=`${guide._id}`)=`${guide.name}: ${guide.role}`
    
    button.btn.btn--green(type='submit') Create Tour

