extends base

block content
 
    form.form
        .form__group(style='display:flex; justify-content:center; padding-top:5em;')
          img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo' )
        .form__group
            label.form__label(for='name') Name
            input#name.form__input(type='text', value=`${user.name}`, required, name='name')
        .form__group.ma-bt-md
            label.form__label(for='email') Email address
            input#email.form__input(type='email', value=`${user.email}`, required, name='email')
        .form__group.ma-bt-md
            label.form__label(for='role') Role (user/guide/lead-guide/admin)
            input#role.form__input(type='text', value=`${user.role}`, required, name='role')       
        .form__group.right(style='display: flex; justify-content: space-between; width: 100%;')
            button.btn.btn--small.btn--green#deleteUserDataAdmin(style='white:blue; text-decoration:none; font-weight: bold; background-color:red;' )  Delete User 
            button.btn.btn--small.btn--green#updateUserDataAdmin(data-user=`${user.id}`) Save settings