extends base

block content
  main.main
      .topic-container(style='display: flex; justify-content: space-between; width: 100%;')
        h2.heading-secondary.ma-bt-lg tours managment
        //- button.btn.btn--green.btn--small(style='margin-bottom: 1em;') Add tour
        a.btn.btn--green.btn--small(href='/add-tour' style='margin-bottom: 1em;') Add tour

           //- BODY ALL TOURS
      .card-container
        each tour in tours   
          .card 
            .card__header
                .card__picture
                    .card__picture-overlay &nbsp;
                    img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                h3.heading-tertirary
                    span= tour.name 
            .card__details               
                h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day tour` 
                p.card__text= tour.summary
                .card__data
                    svg.card__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span= tour.startLocation.description 
                .card__data
                    svg.card__icon
                        use(xlink:href='/img/icons.svg#icon-calendar')
                    span= tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
                .card__data
                    svg.card__icon
                        use(xlink:href='/img/icons.svg#icon-flag')
                    span= `${tour.locations.length} stops`
                .card__data
                    svg.card__icon
                    use(xlink:href='/img/icons.svg#icon-user')
                    span= `${tour.maxGroupSize} people`                         
            .card__footer
                p
                    span.card__footer-value= `$${tour.price}` 
                    | 
                    span.card__footer-text per person
                p.card__ratings
                    span.card__footer-value= tour.ratingsAverage 
                    | 
                    span.card__footer-text= `rating (${tour.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/manage-tour/${tour.slug}`) edit
           
   
   
   
   
   
   
   
      //- table
        tr
          td &nbsp;
          td.overview-box__label Max Group Size
          td.overview-box__label Locations
          td.overview-box__label Ccreated-At
          td.overview-box__label Price
            //- td.overview-box__label Options
            //- td.overview-box__label Options
            //- td.overview-box__label Options
            //- td.overview-box__label Options
            //- td.overview-box__label Options
            //- td.overview-box__label Options
            //- td.overview-box__label Options
            //- td.overview-box__label Options
            //- td.overview-box__label Options
            //- td.overview-box__label Options
    
            each tour in tours 
                tr
                td.overview-box__label= tour.name
                td= tour.maxGroupSize
                td= tour.locations.length 
                td= tour.createdAt
                td= `$${tour.price}`
                //- 
                //- td= tour.startLocation
                //- td= tour.guides
                //- td= tour.startDates
                //- td= tour.difficulty
                //- td= tour.summary
                //- td= tour.description
                //- td= tour.duration
                //- td= tour.description
                //- td= tour.description
                //- tasks
                  //- images- ad an options to upload an image -- i think we have end point for that !
                  //- imageCover -- ad an options to upload an image -- i think we have end point for that !
                  //- locations -- need to think how to impelement that 
                td  
                 button.btn.btn--green.btn--small#updateTour(data-tour-id=`${tour.id}` style:'') Edit 
                 button.btn.btn--green.btn--small#deleteTour(style='background-color: red') Delete Tour 
      
      //- Get monthly plan 

      //- h2.heading-secondary.ma-bt-lg tours managment
      //- table
      //-   tr
      //-     td &nbsp;
      //-     td.overview-box__label Max Group Size
      //-     td.overview-box__label Locations
      //-     td.overview-box__label Ccreated-At
      //-     td.overview-box__label Price
      //-     td.overview-box__label Options
          
      //-       each tour in tours 
      //-           tr
      //-           td.overview-box__label= tour.name
      //-           td= tour.maxGroupSize
      //-           td= tour.locations.length 
      //-           td= tour.createdAt
      //-           td= `$${tour.price}`
      //-           td 
      //-            button.btn.btn--green.btn--small Update Tour 
      //-            button.btn.btn--green.btn--small Delete Tour 
        