extends base

block content
 main.main
    h2.heading-secondary.ma-bt-lg Manage Users 
    .topic-container(style='display: flex; justify-content: space-between; width: 100%;')
      p.card__text Click edit to get more user details , from there you can edit them remove them and so on..
      button.btn.btn--green.btn--small
       a(href='/add-user' style='color:white; text-decoration:none;') Add User
    
    table
     tr
      th.overview-box__label name
      th.overview-box__label email
      th.overview-box__label role
     each user in users
      tr
       td.card__text=user.name
       td.card__text=user.email 
       td.card__text=user.role 
       td.card__text 
        button
        a(href=`/edit-user/${user.id}` style='color:blue; text-decoration:none; font-weight: bold')  Edit
//- (href=`/manage-tour/${tour.slug}`)
 
