extends base
include _reviewCard 

block append head 
  //- for map -we importing it from here to the base head for the same resone we bring the mapbpx js fille   
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="")
  script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="")
  script(src='/js/mapbox.js')

//- we injecting this line of code to head block that is in the base tamplate  
//- we doing that becouse when we extending a block the content inside that disapear , meaning that if we have imported that in the base tamplate the content will disappear
mixin overviewBox(lable, text ,icon)
 .overview-box__detail
   svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
   span.overview-box__label= lable 
   span.overview-box__text= text
   
block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span=`${tour.name} tour` 
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= tour.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts

          - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
          +overviewBox('Next date',date ,'calendar' )
          +overviewBox('Difficulty', tour.difficulty ,'trending-up' )
          +overviewBox('Participants',`${tour.maxGroupSize} people` ,'user' )
          +overviewBox('Rating',`${tour.ratingsAverage} /5` ,'star' )

            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-star')
            span.overview-box__label Rating
            span.overview-box__text 4.9 / 5

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides

          each guide in tour.guides
           .overview-box__detail
             img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
            
             - if (guide.role === 'lead-guide')
              span.overview-box__label Lead guide
             - if (guide.role === 'guide')
              span.overview-box__label Tour guide
             span.overview-box__text= guide.name
         
    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
      - const parapraphs = tour.description.split('\n')
      each p in parapraphs
        p.description__text= p

  section.section-pictures
    each img,i in tour.images
     .picture-box
       img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${i + 1}`, class=`picture-box__img--${i + 1}`)

  section.section-map
    //- we creating here an js coonversion trick , of all of our location object from db - traslated to a html using js (data atribute!)  
    #map(data-locations=`${JSON.stringify(tour.locations)}`)

  section.section-reviews
    .reviews
     each review in tour.reviews
      +reviewCard(review)
 

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='Natours logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
        //- we added that becouse ; the api endpoint that we created need the tour id , and the tour id need to come somewhere ,and for now we need to put that information on the btn element so then our js file can grab it from that element and send it along with the request to the checkout session route -for that we are going to use data atribute  
        if user 
         button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
        else 
         a.btn.btn--green.span-all-rows(href='/login') Log in to book tour !