extends base   
mixin overviewBox(lable, text ,icon)
 .overview-box__detail
   svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
   span.overview-box__label= lable 
   span.overview-box__text= text

mixin overviewBoxEdit(lable, text ,icon,index,participants)
 .overview-box__detail
   svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
   span.overview-box__label= lable 
   //input.overview-box__text#quickFacts(type=`${lable === 'Next date' ? 'date' : 'text'}`, placeholder=text)
   - if (lable === 'Difficulty')
      select#difficulty.overview-box__text(name="difficulty")
        option(value='easy' selected=(text === 'easy')) easy
        option(value='medium' selected=(text === 'medium')) medium
        option(value='difficult' selected=(text === 'difficult')) difficult
   - else if (lable === 'Next date')
      input.overview-box__text(type='date' name=`startDates[${index}].date` value=text placeholder=text.split('T')[0] disabled=true)
      input(style='padding-left:1em; border:none' type='disable' name=`startDates[${index}].participants` placeholder=`Participants: ${participants}` disabled=true) 
   - else 
      input.overview-box__text(type='text' name='maxGroupSize' value=text  placeholder=text)


block content
 - if (isEdit === false)
    main.main    
      .topic-container(style='display: flex; justify-content: space-between; width: 100%;')
        h2.heading-secondary.ma-bt-lg tours management
        .button-contaienr
         a.btn.btn--green.btn--small#deleteTour(data-tour-id=`${tour.id}` style='margin-bottom: 1em; margin-right:1em; background-color:red;') Delete
         a.btn.btn--green.btn--small(href=`/manage-tour/${tour.slug}?edit=true` style='margin-bottom: 1em;') Edit

      section.section-header
        .header__hero
          .header__hero-overlay &nbsp;
          img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

        .heading-box
          h1.heading-primary
            span=`${tour.name} tour` 
          .heading-box__group
            .heading-box__detail
              svg.heading-box__icon
                use(xlink:href='/img/icons.svg#icon-clock')
              span.heading-box__text= `${tour.duration} days`
            .heading-box__detail
              svg.heading-box__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span.heading-box__text= tour.startLocation.description

      section.section-description
        .overview-box
          div
            .overview-box__group
              h2.heading-secondary.ma-bt-lg Quick facts

              - const date = tour.startDates[0].date.toLocaleString('en-us', {month: 'long', year: 'numeric'})
              +overviewBox('Next date', date, 'calendar')
              +overviewBox('Difficulty', tour.difficulty, 'trending-up')
              +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
              +overviewBox('Rating', `${tour.ratingsAverage} /5`, 'star')

        

            .overview-box__group
              h2.heading-secondary.ma-bt-lg Your tour guides

              each guide in tour.guides
                .overview-box__detail
                  img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                  
                  - if (guide.role === 'lead-guide')
                    span.overview-box__label Lead guide
                  - if (guide.role === 'guide')
                    span.overview-box__label Tour guide
                  span.overview-box__text= guide.name
              
        .description-box
          h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
          - const paragraphs = tour.description.split('\n')
          each p in paragraphs
            p.description__text= p

      section.section-pictures
        each img, i in tour.images
          .picture-box
            img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${i + 1}`, class=`picture-box__img--${i + 1}`)

 - else
  main.main    
   form#updateTourForm
    .topic-container(style='display: flex; justify-content: space-between; width: 100%;')
      h2.heading-secondary.ma-bt-lg add fields to the tour
       //-  a( data-tour-id=`${tour.id}+${tour.slug}`   style='margin-bottom: 1em;')
      button.btn.btn--green.btn--small#updateTour(type="submit" tourId=`${tour.id}+${tour.slug}` style='margin-bottom: 3em;') save
    // Tour details sections
    section.section-header
      .header__hero
        .header__hero-overlay &nbsp;
        img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

      .heading-box
        h1.heading-primary
          input(type="text" placeholder=tour.name value=tour.name name='name')
        .heading-box__group
          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-clock')
            input(type="text" placeholder=`${tour.duration} days` value=tour.duration name='duration')
          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-map-pin')
            input(type="text" placeholder=`${tour.startLocation.description}` value=tour.startLocation.description name='startLocation.description')  
            //- span.heading-box__text= tour.startLocation.description

    section.section-description
      .overview-box
        div
          .overview-box__group
            h2.heading-secondary.ma-bt-lg Quick facts
           
            //- - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
            //- - const date = tour.startDates[tour.startDates.length - 1].date.toISOString().split('T')[0]

            each dateObject,i in tour.startDates
             - const formattedDate = dateObject.date.toISOString().split('T')[0]
              +overviewBoxEdit('Next date', formattedDate , 'calendar',i ,dateObject.participants)
            .mixed-dates-container
             .overview-box__detail(style='padding-bottom:2em')
              svg.overview-box__icon
               use(xlink:href='/img/icons.svg#icon-calendar') // Adjust icon as needed
              span.overview-box__label Add new date
              input.overview-box__text(type='date' name='startDates["][name$="].date' )
              button#newDate.btn.btn--small(type='button' ) Add Date

            +overviewBoxEdit('Difficulty', tour.difficulty, 'trending-up')
            +overviewBoxEdit('Participants', `${tour.maxGroupSize} `, 'user')

          
          .overview-box__group
            h2.heading-secondary.ma-bt-lg Your tour guides

            each guide, index in tour.guides
              .overview-box__detail
                img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                
                - if (guide.role === 'lead-guide')
                  span.overview-box__label Lead guide
                - if (guide.role === 'guide')
                  span.overview-box__label Tour guide
                span.overview-box__text= guide.name
                button.btn.btn--small.remove(data-guide-id=`${guide._id}` data-guide-index=`${index}`) Remove

          h2.heading-secondary.ma-bt-lg add guide
          .guides-container(style='display:flex')  
            label.form__label(for="guides") Choose Guides
            select#guides.form__input(name="guides")
              option(value='') None
              each guide in guides
                option(value=`${guide._id}`)=`${guide.name}: ${guide.role}`

          .overview-box__group(style='margin-top:4em')
           .location-topic-container(style='display:flex; flex-direction:column;  ') 
            h2.heading-secondary.ma-bt-lg locations
            button.heading-secondary.ma-bt-lg#addLocationContainer Add new location Section +
           .locations-container#locations(style='display:flex;  justify-content:space-evenly;  flex-wrap:wrap; ')
            each location, index  in tour.locations
             .locations-sub-container(style='width:30%')
              label.heading-secondary.ma-bt-lg #{index + 1}
              label.form__label(for=`location.coordinates[0]`) Start Location Coordinates
              input.form__input(name=`location.coordinates[1]` type="text" placeholder='Longitude (25.774772)' value=location.coordinates[1])
              input.form__input(name=`location.coordinates[0]` type="text" placeholder='Latitude (-80.185942)' value=location.coordinates[0])

              label.form__label(for=`location.description`) Description
              input.form__input(name=`location.description` type="text" placeholder='Description' value=location.description)
              
              label.form__label(for=`location.day`) Day
              input.form__input(name=`location.day` type="text" placeholder='Day' value=location.day)


      .description-box
        h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
          - const paragraphs = tour.description.split('\n')
          each p in paragraphs   
           textarea.description__text(type="text" placeholder=p style='width: 100%; height: 250px;' )
    section.section-pictures
      each img, i in tour.images
        //- button Remove Image
        .picture-box
          img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${i + 1}`, class=`picture-box__img--${i + 1}`)
  .images-container(style='padding:5em  30%')    
    label.heading-secondary.ma-bt-lg(for="images") select new images
    input.form__input(name="images" id='file-input' type="file" multiple)
    
